body {
    font-family: sans-serif;
    font-size: small;
    background-color: #fafafa; /* Light grey background for a neutral look */
    color: #333; /* Dark grey text for better readability */
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 1.5em;
    margin-top: 20px;
}

button {
    font-family: inherit; /* Inherit the font from the body */
    background-color: #898989; /* Blue background for buttons */
    color: white; /* White text on buttons */
    border: none; /* Remove default border */
    border-radius: 3px; /* Rounded corners for buttons */
    padding: 5px 10px; /* Add padding to buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #005f6b; /* Darker blue on hover */
}

#text-box, #definition-box {
    width: 100%;
    font-family: inherit; /* Inherit the font from the body */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 3px; /* Rounded corners for a softer look */
    padding: 10px; /* Add padding inside the box */
    background-color: #fff; /* White background inside the boxes */
}

#text-box {
    height: 300px;
    margin-bottom: 10px;
}

#cut-button, #define-button {
    font-family: inherit; /* Inherit the font from the body */
}

#calculate-button {
    font-family: inherit; /* Inherit the font from the body */
}

input[type="date"], input[type="number"], input[type="text"] {
    width: auto;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 3px; /* Rounded corners */
    padding: 5px; /* Add padding inside inputs */
    font-family: inherit; /* Inherit the font from the body */
    background-color: #fff; /* White background for inputs */
}

label {
    display: block;
    margin-bottom: 5px;
}
    
.input-row {
    display: flex;
    margin-bottom: 10px;
}

.input-group {
    flex: 0 1 200px;
    margin-right: 10px;
}


